.bold, b {
	font-size: 24px;
	font-weight: bold;
	font-family: '黑体';
	margin: 0 5px;
}

.text {
	font-family: '黑体';
	font-size: 20px;
	max-width: 100vw;
  	z-index: 10;
	line-height: 2em;
	position: absolute;
}
.page {
	width: 100%;
	height: 100%;
	margin: 0px;
	background-size: 100% 100%;
	background-attachment: fixed;
}

.center {
	align-items: center;
	justify-content: center;
}

.bg {
	background-size: cover;
	background-repeat: no-repeat;
}
.image-filter {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}