// 页面间切换的效果

// 向下翻页
.straight-translate-Y-enter-from {
  transform: translateY(100vh);
}
.straight-translate-Y-enter-active,
.straight-translate-Y-leave-active {
  position: absolute;
  transition: transform 1s ease-in-out;
}
.straight-translate-Y-enter-to,
.straight-translate-Y-leave-from {
  transform: translateY(0);
}
.straight-translate-Y-leave-to {
  transform: translateY(-100vh);
}

/* 向上翻页 */
.straight-translate-Y-up-enter-from {
  transform: translateY(-100vh);
}
.straight-translate-Y-up-enter-active,
.straight-translate-Y-up-leave-active {
  position: absolute;
  transition: transform 1s ease-in-out;
}
.straight-translate-Y-up-enter-to,
.straight-translate-Y-up-leave-from {
  transform: translateY(0);
}
.straight-translate-Y-up-leave-to {
  transform: translateY(100vh);
}